{% extends 'base.html.twig' %}

{% block title %}Peticiones{% endblock %}

{% block body %}
    <body class="bg-grey">
    {% include '_header.html.twig' %}
    <main>
        <div class="container pt-5">
            <div class="row pt-5">
                <div class="col-3 pt-3">
                    <div class="list-group">
                        <a href="{{ path('app_tutor_request_received') }}"
                           class="list-group-item list-group-item-action active"><i
                                    class="bi bi-inbox pe-4"></i>Peticiones recibidas
                        </a>
                        <a href="{{ path('app_tutor_request_sended') }}" class="list-group-item list-group-item-action"
                           aria-current="true">
                            <i class="bi bi-send pe-4"></i>Peticiones enviadas
                        </a>
                    </div>
                </div>
                <div class="col-9">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Empresa</th>
                            <th scope="col">Alumno</th>
                            <th scope="col">Fecha de recibo</th>
                            <th scope="col">Acciones</th>
                        </tr>
                        </thead>
                        <tbody class="align-middle">
                        <tr>
                            <th scope="row">
                                <div class="list-thumbnail">
                                    <div class="list-thumbnail-image"
                                         style="background-image: url('img/imagen-empresa.jpg');"></div>
                                </div>
                            </th>
                            <td><a href="">Empresa Inventada 1 S.L</a></td>
                            <td>Marcos Quintero</td>
                            <td>XX/XX/XXXX 00:00</td>
                            <td>
                                <button type="button" class="btn btn-success" title="Aceptar"><i
                                            class="bi bi-check2"></i></button>
                                <button type="button" class="btn btn-danger" title="Denegar"><i
                                            class="bi bi-x-lg"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="list-thumbnail">
                                    <div class="list-thumbnail-image"
                                         style="background-image: url('img/imagen-empresa.jpg');"></div>
                                </div>
                            </th>
                            <td><a href="">Empresa Inventada 2 S.L</a></td>
                            <td>María Prieto</td>
                            <td>XX/XX/XXXX 00:00</td>
                            <td>
                                <button type="button" class="btn btn-success" title="Aceptar"><i
                                            class="bi bi-check2"></i></button>
                                <button type="button" class="btn btn-danger" title="Denegar"><i
                                            class="bi bi-x-lg"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="list-thumbnail">
                                    <div class="list-thumbnail-image"
                                         style="background-image: url('img/imagen-empresa.jpg');"></div>
                                </div>
                            </th>
                            <td><a href="">Empresa Inventada 3 S.L</a></td>
                            <td>Petra Gómez</td>
                            <td>XX/XX/XXXX 00:00</td>
                            <td>
                                <button type="button" class="btn btn-success" title="Aceptar"><i
                                            class="bi bi-check2"></i></button>
                                <button type="button" class="btn btn-danger" title="Denegar"><i
                                            class="bi bi-x-lg"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    </body>
{% endblock %}